<footer class="uk-padding-small">

    <div class="uk-flex uk-flex-wrap uk-child-width-expand
                uk-padding-large uk-padding-remove-horizontal">
        <a class="uk-flex uk-flex-middle" href="#home"> 
            <h1>ArepaTV</h1> 
        </a>

        <div class="uk-flex uk-flex-center uk-flex-middle">
            <ul class="uk-list uk-flex uk-flex-wrap">
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank"> <i uk-icon="icon:instagram"></i> </a></li>
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank" href="mailto:arepatvOficial@gmail.com"> <i uk-icon="icon:google"></i> </a></li>
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank" href="https://t.me/+IE-l_EA7I6Q2YWMx"> <i uk-icon="icon:telegram"></i> </a></li>
                <li class="uk-padding-small uk-padding-remove-vertical"><a rel="noreferrer" target="_blank" href="https://www.facebook.com/ArepatvOficial"> <i uk-icon="icon:facebook"></i> </a></li>
            </ul>
        </div>
    </div>

    <hr>

    <ul class="uk-list uk-flex uk-flex-wrap">
        <li class="uk-padding-small"><a class="uk-button uk-text" href="#home"> HOME </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="#dmca"> DMCA </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="#pricing"> Pricing </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="#term"> Term of Use </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="#reseller"> Reseller </a></li>
        <li class="uk-padding-small"><a class="uk-button uk-text" href="#privacy"> Privacy Policy </a></li>
    </ul>
                
</footer>